-if current_user.nil?
  / regular home page
  %h1 ListenUp
  %p Welcome to ListenUp. Please sign in or sign up to view the latest news and to edit or create new surveys.  
-else
  / news and upates page
  = @news.html_safe
