!!! html
%html
  %body
    %h1= %w(Huzzah! Hurray! Wheee! Whoop-de-do!).sample
    %p
      You've been invited to take a survey by #{@owner.full_name}.
    %p
      To accept, just click this link:
      %a{:href => "http://localhost:3000/survey/" + @survey.id.to_s}= @survey.name
    %p
      And then go out and have an awesome day!
    %p
      Don't want this email? Do you really hate me that much? Well, here's a page to control your #{link_to "preferences", "/recipients/" + @recipient.id + "/edit" + @recipient.secret }.
